
<!-- Supplier Results -->
<div class="panel panel-default">
    <div class="panel-heading">
        Approved Suppliers for {{ component }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Representative</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for supplier in supplier_results %}

                    <!-- CMM -- Modified the following code so that the supplier name is shown once
                     in the first table row, with the associated representative names and emails shown in 
                     the second and third columns of subsequent table rows.
                     Note that the representative data corresponding to the supplier is given by
                     supplier.representative_set, based on the foreign key relation between the two 
                     database tables.  -->
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for rep in supplier.representative_set.all %}
                        <tr>
                            <td></td>
                            <td>{{ rep.representative_name }}</td>
                            <td>{{ rep.representative_email }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                              <td></td>
                              <td colspan="2">No representatives found.</td>
                        </tr>
                    {% endfor %}

                {% empty %}
                    <tr>
                        <td colspan="3">No authorized suppliers found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- / Supplier Results Panel -->